<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- favicon -->
    <link rel="shortcut icon" href="//assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <!-- linking CSS reset file -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!-- linking CSS file -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <!-- full calendar -->
    <link href='/assets/Calendar/lib/fullcalendar.min.css' rel='stylesheet' />
    <link href='/assets/Calendar/lib/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <link href='/assets/Calendar/scheduler.min.css' rel='stylesheet' />
    <!--star Rating -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <!-- linking bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <!--Icons-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/StarRating/dist/themes/fontawesome-stars.css">
  </head>

  {{{body}}}

</html>
