<body id="studentBody">
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-rounded"src=''>
      </div>
      <div class="col-sm-9">
        <h1 class="display-3">{{this.fullname}}</h1>
        <p class="lead">{{this.school}}</p>
      </div>
    </div>
  </div>
</div>
<!-- end jumbotron -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="headers text-center">subjects</h1>
      <img class="img-responsive center-block"src="http://placehold.it/600x300">  
    </div>
    <div class="col-sm-6">
      <h1 class="headers text-center">sessions</h1>
      <img class="img-responsive center-block"src="http://placehold.it/600x300">
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- linking bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- linking JS file -->
<script type="text/javascript" src="assets/javascript/javascript.js"></script>
</body>