body {
	background:
	    /* top, transparent black, faked with gradient */
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(../images/edufyBG.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse {
    border: 0px;
		height: 60px;
}

.btn-success {
	margin-top: 13px;
	margin-left: 15px;
}

#logo {
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;

	max-width:100%;
	max-height:100%;
	overflow:auto;
}
