#homeBody {
	background:
	    /* top, transparent black, faked with gradient */
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(../images/edufyBG.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*tutor money chart*/
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#tutorBody {
	background-color: #222;
}

#subjectsTab {
	padding-bottom: 5px;
}

.headers {
	color: white;
	padding-bottom: 30px;
}

.calendar-body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: white;
	background-color: #222;
}

div.col-sm-9 {
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 20px;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse {
    border: 0px;
		height: 60px;
		padding-right: 11px;
}

div.container-fluid {
	padding: 0px;
}

/*home page buttons*/
button#modalSignIn.btn.btn-success {
	margin-top: 13px;
	margin-left: 14px;
	background-color: #222 !important;
	border-radius: 20px;
}

button#modalSignIn.btn.btn-success:hover {
  background-color: #449d44 !important;
}

/*changes modal header color to match color scheme of page, border radius change gives rounded edges*/
.modal-header {
  background-color: #222222;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
}

/*allows me to vertically align the modal to my preferences*/
.modal {
  text-align: center;
  padding: 0!important;
}

div.modal-body {
	padding-bottom: 0;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 95%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/*logo absolute centered*/
#logo {
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;

	max-width:100%;
	max-height:100%;
	overflow:auto;
}
